.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px 0;
}
.header div{
    display: flex;
}
.header .nav-items{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    margin-left: 36px;
    transition: all 0.3s ease;
}
.header .nav-items:hover{
    color: #FF9900;
}